/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  margin: 0;
  position: relative;
  background-color: var(--level0);
  font-family: sans-serif;
  height: 100vh;
  overflow: hidden;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  /*background: url(https://wallpaperz.nyc3.cdn.digitaloceanspaces.com/wallpapers/2ae88c51-3f27-493a-bfd0-e078a61b14ec.png);*/
  background-size: cover;
}

.theme-dark {
  --level0: #2c2f33;
  --level1: #44494f;
  --primaryText: white;
  --icon-color: white;
  --icon-color-hover: rgb(46, 227, 0);
  --scroll0: white;
  --scroll1: white;
}

.theme-light {
  --level0: #cdcdcd;
  --level1: #444444;
  --primaryText: rgb(255, 255, 255);
  --icon-color: rgb(255, 255, 255);
  --icon-color-hover: rgb(46, 227, 0);
  --scroll0: rgb(41, 41, 41);
  --scroll1: white;
}

#root {
  height: 100%;
  width: 100%;
}

#sub-root {
  height: calc(100% - 140px);
  width: inherit;
  overflow-y: overlay;
  padding-top: 140px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--scroll0);
  border-radius: 10px;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 50px;
  display: block;
  color: var(--primaryText);
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 30px;
  display: block;
  color: var(--primaryText);
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 20px;
  display: block;
  color: var(--primaryText);
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 10px;
  display: block;
  color: var(--primaryText);
}

#dashboard {
  position: absolute;
  top: 0;
  left: 50%;
  height: 120px;
  width: 85%;
  display: flex;
  border-radius: 0 0 25px 25px;
  background-color: var(--level0);
  transform: translateX(-50%);
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
}

#search {
  height: 20px;
  display: flex;
  padding: 5px 10px;
  border: solid 2px var(--icon-color);
  border-radius: 25px;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

#search input {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 25px;
  border: rgba(0, 0, 0, 0);
  color: var(--icon-color);
}

#search svg {
  font-size: 20px;
  color: var(--icon-color);
  transition: all 0.3s ease-in-out;
}

#search:hover {
  border: solid 2px var(--icon-color-hover);
}

#search:hover svg {
  color: var(--icon-color-hover);
}

#search input:focus {
  outline: none;
}

.dashboard-icon {
  height: auto;
  position: relative;
  font-size: 35px;
  color: var(--icon-color);
  transition: all 0.3s ease-in-out;
}

.dashboard-icon:hover {
  color: var(--icon-color-hover);
}

.page {
  display: flex;
  width: 100%;
  height: max-content;
}

.item-grid {
  --rowWidth: 500px;
  margin: 0 auto;
  height: fit-content;
  width: fit-content;
  display: grid;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-template-columns: repeat(3, var(--rowWidth));
  grid-template-rows: inherit;
  justify-items: center;
  margin-bottom: 50px;
}

.grid-item {
  position: relative;
  display: flex;
  width: var(--rowWidth);
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--level0);
}

.grid-item img {
  position: absolute;
  width: 100% * 1.1;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.grid-item:hover img {
  width: calc(100% * 1.2);
}

.wallpaper-preview-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 60px;
  width: 60px;
  color: white;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.grid-item .wallpaper-preview-icon {
  top: 100%;
  transform: translateY(50%);
}

.grid-item:hover .wallpaper-preview-icon {
  top: 50%;
  transform: translateY(-50%);
}

.wallpaper-preview-size {
  position: absolute;
  display: flex;
  top: 0%;
  left: 0%;
  height: 40px;
  width: 30%;
  border-radius: 0px 0px 20px 0px;
  background-color: var(--level1);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.wallpaper-preview-downloads {
  position: absolute;
  display: flex;
  top: 100%;
  left: 100%;
  transform: translate(-100%, -100%);
  height: 40px;
  width: 30%;
  border-radius: 20px 0px 0px 0px;
  background-color: var(--level1);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.wallpaper-preview-downloads,
.wallpaper-preview-size svg {
  font-size: 20px;
  color: var(--icon-color);
}

.wallpaper-view {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  background-color: rgba(32, 32, 32, 0.9);
  transition: all 0.3s ease-in-out;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.wallpaper-view .next-item-right,
.wallpaper-view .next-item-left {
  height: 60%;
  font-size: 100px;
  color: var(--icon-color);
  transition: all 0.3s ease-in-out;
}

.wallpaper-view .next-item-right:hover,
.wallpaper-view .next-item-left:hover {
  color: var(--icon-color-hover);
}

.next-item-disabled {
  height: 60%;
  font-size: 100px;
  color: gray;
  transition: all 0.3s ease-in-out;
}

.next-item-right:hover {
  transform: translateX(10%);
}

.next-item-left:hover {
  transform: translateX(-10%);
}

.wallpaper-view-container {
  position: relative;
  top: 0;
  left: 0;
  height: 90%;
  width: 80%;
  display: flex;
  transition: all 0.3s ease-in-out;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin: 20px 0px;
}

.wallpaper-view-panel-bottom,
.wallpaper-view-panel-top {
  position: relative;
  display: flex;
  width: 100%;
  height: 80px;
  min-height: 80px;
  background-color: var(--level1);
  border-radius: 20px;
  align-items: center;
  justify-content: space-evenly;
}

.wallpaper-view-panel-top span {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.wallpaper-view-panel-top span svg {
  color: var(--icon-color);
  font-size: 25px;
  margin: 0 10px;
}

.wallpaper-view-panel-bottom svg,
.wallpaper-view-panel-top svg {
  margin: 5px;
  font-size: 40px;
  color: var(--icon-color);
  transition: all 0.2s ease-in-out;
}

.wallpaper-view-panel-bottom svg:hover,
.wallpaper-view-panel-top svg:hover {
  margin: 0px;
  font-size: 50px;
  color: var(--icon-color-hover);
}

#wallpaper-in-view {
  max-height: 70%;
  height: min-content;
  width: fit-content;
  object-fit: contain;
  max-width: 100%;
  border-radius: 20px;
}

.wallpaper-view-fullscreen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  display: flex;
  z-index: 1;
}

@keyframes slidein {
  from {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.wallpaper-view-fullscreen h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 40px;
  background-color: var(--level1);
  border-radius: 20px;
  animation-duration: 3s;
  animation-name: slidein;
  animation-fill-mode: forwards;
  pointer-events: none;
}

#wallpaper-in-view-fullscreen {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#wallpaper-upload {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  background-color: rgba(32, 32, 32, 0.9);
  transition: all 0.3s ease-in-out;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.wallpaper-uploads-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  max-width: 95%;
  height: fit-content;
  padding-bottom: 27px;
  overflow-x: overlay;
  column-gap: 30px;
}

.wallpaper-uploads-container::-webkit-scrollbar-thumb {
  background-color: var(--scroll1);
  border-radius: 10px;
}

.wallpaper-upload-size {
  position: absolute;
  display: flex;
  top: 0%;
  left: 0%;
  height: 40px;
  width: 40%;
  border-radius: 20px 0px 20px 0px;
  background-color: var(--level1);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.wallpaper-upload-size svg {
  font-size: 20px;
  color: var(--icon-color);
}

.wallpaper-upload-buttons {
  position: absolute;
  display: flex;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90px;
  width: 70%;
  background-color: var(--level1);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  justify-content: space-around;
}

.wallpaper-upload-buttons button {
  position: relative;
  display: flex;
  background: transparent;
  border: 2px solid var(--icon-color);
  padding: 0;
  border-radius: 20px;
  height: 55%;
  align-items: center;
  justify-content: center;
  width: 200px;
  transition: all 0.3s ease-in-out;
}

.wallpaper-upload-buttons button h2 {
  position: relative;
  margin: 0;
  transition: all 0.3s ease-in-out;
}

.wallpaper-upload-buttons button:hover {
  border: 2px solid var(--icon-color-hover);
}

.wallpaper-upload-buttons button:hover h2 {
  color: var(--icon-color-hover);
}

.upload-item {
  display: flex;
  position: relative;
  height: 454px;
  width: 400px;
  flex-direction: column;
}

.upload-item img {
  height: 100%;
  aspect-ratio: 1;
  border-radius: 20px;
  object-fit: cover;
  margin-bottom: 10px;
}

.tags-input {
  height: 40px;
  width: calc(100% - 24px);
  padding: 0 10px;
  display: flex;
  border: solid 2px var(--icon-color);
  border-radius: 25px;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.tags-input input {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 25px;
  border: rgba(0, 0, 0, 0);
  color: var(--icon-color);
  width: 100%;
  text-align: center;
}

.tags-input input:focus {
  outline: none;
}

@keyframes open-settings {
  from {
    width: 0px;
  }

  to {
    width: 600px;
  }
}

@keyframes close-settings {
  from {
    width: 600px;
  }

  to {
    width: 0px;
  }
}

.wallpaper-settings-open,
.wallpaper-settings-closed,
.wallpaper-settings-neutral {
  position: absolute;
  display: flex;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: calc(100vh + 10px);
  width: 100vw;
  justify-content: flex-end;
  align-items: stretch;
  transition: background-color 0.1s ease-in-out;
}

.wallpaper-settings-open {
  background-color: rgba(32, 32, 32, 0.9);
}

.wallpaper-settings-closed,
.wallpaper-settings-neutral {
  background-color: rgba(0, 0, 0, 0);
  pointer-events: none;
}

.wallpaper-settings-neutral {
  background-color: rgba(0, 0, 0, 0);
  pointer-events: none;
}

.wallpaper-settings-container {
  position: relative;
  height: 100%;
  background-color: var(--level0);
  width: 0px;
}

.wallpaper-settings-open .wallpaper-settings-container {
  animation-duration: 0.5s;
  animation-name: open-settings;
  animation-fill-mode: forwards;
}

.wallpaper-settings-closed .wallpaper-settings-container {
  animation-duration: 0.5s;
  animation-name: close-settings;
  animation-fill-mode: forwards;
}

.wallpaper-settings-container-inner {
  position: relative;
  display: flex;
  height: 100%;
  width: 600px;
  min-width: 600px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: overlay;
}

.wallpaper-settings-login {
  display: flex;
  min-width: 80%;
  aspect-ratio: 1;
  padding-top: 60px;
  padding-bottom: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid var(--icon-color);
}

.wallpaper-settings-back {
  position: absolute;
  display: flex;
  top: -5px;
  left: 0;
  width: calc(100% - 20px);
  height: 55px;
  padding-top: 5px;
  padding-left: 5px;
  background-color: var(--level0);
  align-items: center;
  justify-content: flex-start;
}

.wallpaper-settings-back svg {
  height: 50px;
  aspect-ratio: 1;
  font-size: 40px;
  padding-left: 5px;
  color: var(--icon-color);
  transition: all 0.1s ease-in-out;
  transform: rotate(180deg);
}

.wallpaper-settings-back svg:hover {
  font-size: 50px;
  padding-left: 0px;
  color: var(--icon-color-hover);
}

.wallpaper-settings-login img {
  object-fit: cover;
  width: 60%;
  aspect-ratio: 1;
  border-radius: 50%;
}

.wallpaper-settings-login button {
  position: relative;
  display: flex;
  background: transparent;
  border: 2px solid var(--icon-color);
  margin-top: 50px;
  border-radius: 20px;
  height: 50px;
  align-items: center;
  justify-content: center;
  width: 300px;
  transition: all 0.3s ease-in-out;
}

.wallpaper-settings-login button h2 {
  position: relative;
  margin: 0;
  transition: all 0.3s ease-in-out;
}

.wallpaper-settings-login button:hover {
  border: 2px solid var(--icon-color-hover);
}

.wallpaper-settings-login button:hover h2 {
  color: var(--icon-color-hover);
}

.wallpaper-settings-item {
  height: fit-content;
  width: 90%;
  margin: 20px 0;
}

.wallpaper-settings-item h3 {
  text-align: center;
}

.wallpaper-settings-item-content {
  display: flex;
  align-items: center;
  min-height: 60px;
  height: 60px;
  width: 100%;
  background-color: var(--level1);
  border-radius: 40px;
  justify-content: center;
}

#image-downloader {
  visibility: collapse;
}

.boolean-setting {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.boolean-setting-true,
.boolean-setting-false,
.setting-button {
  position: relative;
  display: flex;
  background: transparent;
  border: 2px solid var(--icon-color);
  padding: 0;
  border-radius: 15px;
  height: 37px;
  align-items: center;
  justify-content: center;
  width: 150px;
  transition: all 0.3s ease-in-out;
}

.boolean-setting-true:hover,
.boolean-setting-false:hover,
.setting-button:hover {
  border-color: var(--icon-color-hover);
}

.boolean-setting-true h3,
.boolean-setting-false h3,
.setting-button h3 {
  transition: all 0.3s ease-in-out;
}

.boolean-setting-true:hover h3,
.boolean-setting-false:hover h3,
.setting-button:hover h3 {
  color: var(--icon-color-hover);
}

.boolean-setting-true {
  border-color: var(--icon-color-hover);
}

.wallpaper-page-select {
  height: 30px;
  width: fit-content;
  margin-bottom: 50px;
  display: flex;
}

.wallpaper-page-select button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 30px;
  font-size: 30px;
  margin: 0px 10px;
}

#wallpaper-notification-panel {
  pointer-events: none;
  position: absolute;
  display: flex;
  width: 400px;
  height: 600px;
  top: 120px;
  left: 0;
  overflow: hidden;
  z-index: 2;
}

.wallpaper-notification-panel-inner {
  pointer-events: none;
  position: relative;
  display: flex;
  width: 100%;
  height: inherit;
  top: 120px;
  left: 0;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
}

@keyframes notification-slide-in {
  from {
    transform: translateX(-100%);
    opacity: 0;
    margin-bottom: -70px;
  }

  50% {
    margin-bottom: 10px 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes notification-slide-out {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

.wallpaper-notification-item,
.wallpaper-notification-item-closed {
  pointer-events: none;
  position: relative;
  display: flex;
  width: 100%;
  height: 35px;
  min-height: 70px;
  top: 120px;
  left: 0;
  margin-top: 10px;
  background-color: var(--level1);
  border-radius: 0 20px 20px 0;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

.wallpaper-notification-item h2,
.wallpaper-notification-item-closed h2 {
  font-size: 18px;
  margin: 0;
}

.wallpaper-notification-item {
  animation-duration: 0.75s;
  animation-name: notification-slide-in;
  animation-fill-mode: forwards;
}

.wallpaper-notification-item-closed {
  animation-duration: 0.5s;
  animation-name: notification-slide-out;
  animation-fill-mode: forwards;
}

#wallpaper-drag-upload {
  position: absolute;
  display: flex;
  top: -5px;
  left: 0;
  height: calc(100vh + 10px);
  width: 100%;
  background-color: rgba(32, 32, 32, 0.9);
  justify-content: center;
  align-items: center;
}

#wallpaper-drag-upload svg {
  color: var(--icon-color);
  font-size: 100px;
}

#drag-area {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

@media only screen and (max-width: 1580px) {
  .item-grid {
    grid-template-columns: repeat(2, var(--rowWidth));
  }

  @media only screen and (max-width: 1080px) {
    .item-grid {
      grid-template-columns: repeat(1, var(--rowWidth));
    }
  }
}
