/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {

  margin: 0;
  position: relative;
  background-color: var(--level0);
  font-family: sans-serif;
  height: 100vh;
  overflow: hidden;
}

.theme-dark{
  --level0: #2c2f33;
  --level1: #44494f;
  --primaryText: white;
  --icon-color: white;
  --icon-color-hover: rgb(46, 227, 0);
}

#root {
  height: 100%;
  width: 100%;
}

#sub-root {
  height: 100%;
  width: inherit;
  overflow-y: overlay;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 50px;
  display: block;
  color: var(--primaryText);
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 30px;
  display: block;
  color: var(--primaryText);
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 20px;
  display: block;
  color: var(--primaryText);
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 10px;
  display: block;
  color: var(--primaryText);
}

#dashboard {
  height: 100px;
  width: 80%;
  display: flex;
  background-color: var(--level0);
  border-bottom: solid 2px white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.page {
  display: flex;
  width: 100%;
  height: max-content;
}

.item-grid {
  --rowWidth: 500px;
  margin: 0 auto;
  height: fit-content;
  width: fit-content;
  display: grid;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-template-columns: repeat(3, var(--rowWidth));
  grid-template-rows: inherit;
  justify-items: center;
  margin-bottom: 50px;
}

.grid-item {
  position: relative;
  display: flex;
  width: var(--rowWidth);
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
}

.grid-item img {
  position: absolute;
  width: var(--rowWidth);
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.grid-item:hover img {
  width: calc(var(--rowWidth) * 1.2);
}



.wallpaper-preview-icon {
  position: absolute;
  top:  50%;
  transform: translateY(-50%);
  height: 100px;
  width: 100px;
  color: white;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.grid-item .wallpaper-preview-icon {
  top:  100%;
  transform: translateY(50%);
}

.grid-item:hover .wallpaper-preview-icon {
  top:  50%;
  transform: translateY(-50%);
}


.wallpaper-preview-size-panel {
  position: absolute;
  display: flex;
  top: 0%;
  left: 0%;
  height: 40px;
  width: 30%;
  border-radius: 0px 0px 20px 0px;
  background-color: rgb(32, 32, 32);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.wallpaper-preview-size-panel h2 {
  font-size: 20px;
}

.wallpaper-preview-info-panel div h2 {
  font-size: 20px;
}

.wallpaper-view{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  background-color: rgba(32, 32, 32, 0.9);
  transition: all 0.3s ease-in-out;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.wallpaper-view svg{
  height: 60%;
  font-size: 100px;
  color: var(--icon-color);
  transition: all 0.3s ease-in-out;
}

.wallpaper-view svg:hover{
  color: var(--icon-color-hover)
}

.next-item-left:hover{
  transform: translateX(10%);
}

.next-item-right:hover{
  transform: translateX(-10%);
}

.wallpaper-view-container{
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  transition: all 0.3s ease-in-out;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.wallpaper-view-panel {
  position: relative;
  display: flex;
  width: 100%;
  height: 80px;
  background-color: var(--level1);
  border-radius: 20px;
  align-items: center;
  justify-content: space-evenly;
}

.wallpaper-view-panel svg{
  margin: 5px;
  width: 40px;
  height: 40px;
  color: var(--icon-color);
  transition: all 0.2s ease-in-out;
}

.wallpaper-view-panel svg:hover{
  margin: 0px;
  width: 50px;
  height: 50px;
  color: var(--icon-color-hover);
}

#wallpaperInView {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: contain;
  border-radius: 20px;
}

@media only screen and (max-width: 1580px) {
  .item-grid {
    grid-template-columns: repeat(2, var(--rowWidth));
  }

  @media only screen and (max-width: 1080px) {
    .item-grid {
      grid-template-columns: repeat(1, var(--rowWidth));
    }
  }
}
